/* Kevin Powell - CSS Reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

@font-face {
  font-family: "Rockwell Extra Bold";
  src: url("./fonts/Rockwell-ExtraBold.woff") format("woff"),
    url("./fonts/Rockwell-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Regular.woff") format("woff"),
    url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Project Below */
body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 75%;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 4fr;
}

/* Sidebar Section */
.sidebar {
  background-color: blue;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 2fr 4fr;
  justify-content: center;
  align-items: start;
}

.sidebar .upper-icon-group {
  grid-row: 2 / 3;
}

.sidebar .lower-icon-group {
  grid-row: 3 / 4;
}

/********************/
/** Header Section **/
/********************/
.header-section {
  background-color: yellow;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1.75fr 1fr;
}

/* Pics */
.svg {
  height: 1.5rem;
}

.avatar-pic {
  height: 2.9rem;
}

.avatar-pic,
.profile-pic {
  border-radius: 50%;
}

.profile-pic {
  height: 3.75rem;
}

/* Search Bar */
.search-section {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.search-bar {
  margin-left: 0.75rem;
  width: 90%;
}

/* Notification */
.notification-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

/* User Greeting */
.user-greeting-section {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  margin-left: 2rem;
  padding-bottom: 1rem;
  align-items: center;
  width: 75%;
}

.profile-pic {
  justify-self: center;
}

/* Buttons */
.button-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
  padding-right: 4rem;
  justify-content: end;
}

.main-content {
  background-color: green;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
