/* Kevin Powell - CSS Reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

@font-face {
  font-family: "Rockwell Extra Bold";
  src: url("./fonts/Rockwell-ExtraBold.woff") format("woff"),
    url("./fonts/Rockwell-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Regular.woff") format("woff"),
    url("./fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk Semi Bold";
  src: url("./fonts/SpaceGrotesk-SemiBold.woff") format("woff"),
    url("./fonts/SpaceGrotesk-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Project Below */
body {
  display: flex;
  justify-content: center;
  background-color: #1c2a44;
}

.main-container {
  width: 75%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 4fr;
}

.header-section {
  box-shadow: 0px 2px 2px #b8995d;
  z-index: 1;
}

.your-projects,
.announcements,
.trending {
  box-shadow: 2px 2px 2px #b8995d;
}

/**********************/
/* Sidebar Section ***/
/********************/
.sidebar {
  background-color: #121212;
  color: #d4d400;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 6rem 14rem 8.5rem;
  justify-content: center;
}

.dashboard {
  font-family: "Rockwell Extra Bold", "Courier New", Courier, monospace, serif;
  font-size: 1.7rem;
  justify-self: center;
  align-self: center;
}

.upper-icon-group,
.lower-icon-group {
  list-style-type: none;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 2rem 8rem;
  margin-bottom: 2rem;
  align-items: center;
}

.sidebar-svg {
  fill: #d4d400;
  height: 1.1rem;
}

/********************************/
/** Header Section - Structure **/
/********************************/
.header-section {
  background-color: #faf3e0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1.75fr 1fr;
  font-family: "Space Grotesk", sans-serif;
  color: #121212;
}

/* Pics */
.header-svg {
  height: 1.5rem;
  fill: #121212;
}

.avatar-pic {
  height: 2.3rem;
}

.profile-pic {
  height: 3.5rem;
}

/* Search Bar */

.search-svg {
  justify-self: end;
}

.search-section {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  align-content: center;
}

#search-bar {
  margin-left: 0.75rem;
  width: 90%;
  border: 2px solid #121212;
  border-radius: 0.5rem;
}

#search-bar:focus {
  border: 2px solid #007bff;
}

/* Notification */
.notification-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

/* User Greeting */
.user-greeting-section {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  margin-left: 2rem;
  padding-bottom: 1rem;
  align-items: center;
  width: 75%;
}

.profile-pic {
  justify-self: center;
}

/* Buttons */
.button-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
  padding-right: 4rem;
  justify-content: end;
}

.button {
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 0.5rem;
  height: 2rem;
}

/***************************/
/** Main Content Section **/
/**************************/

.your-projects,
.announcements,
.trending {
  background-color: #faf3e0;
  padding: 1.5rem;
}

.main-content {
  background-color: #e4c580;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 1.25rem;
  padding: 1.5rem 1rem 2rem 1rem;
}

.your-projects,
.announcements,
.trending {
  border-radius: 0.5rem;
}

.main-content h3 {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.main-content h3,
.main-content h4,
.main-content h5 {
  font-family: "Space Grotesk Semi Bold", sans-serif;
}

.main-content h4 {
  font-size: 0.9rem;
}

.main-content h5 {
  font-size: 0.8rem;
}

.main-content p {
  font-family: "Space Grotesk", sans-serif;
}

/****************************/
/** Your Projects Section **/
/**************************/

.your-projects-section {
  grid-row: 1 / 3;
  display: grid;
  gap: 1rem;
  grid-template-rows: 0.5rem 1fr 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.your-projects-section > h3 {
  grid-column: 1 / 3;
}

.your-projects > p {
  font-size: 0.8rem;
}

.your-projects {
  display: grid;
  grid-template-rows: 0.3fr 1fr 0.55fr;
  border-left: 5px solid #4169e1;
}

.your-project-svgs-group {
  display: grid;
  grid-auto-flow: column;
  justify-self: end;
  align-self: center;
  gap: 1rem;
}

.your-project-svg {
  height: 1.25rem;
}

/****************************/
/** Announcements Section **/
/**************************/

.announcements {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}

/****************************/
/** Trending Section **/
/**************************/

.announcements p,
.trending p {
  font-size: 0.7rem;
}

.trending-section {
  align-content: end;
}

.trending {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  justify-content: start;
  align-items: center;
  margin-top: 0.3rem;
}

.trending img {
  height: 2.3rem;
}
